# Root filesystem images
CONFIG_TARGET_ROOTFS_EXT4FS=y
CONFIG_TARGET_KERNEL_PARTSIZE=64
CONFIG_TARGET_ROOTFS_PARTSIZE=900

# Ipv6 Support
CONFIG_IPV6=y
CONFIG_PACKAGE_ipv6helper=y

# Applications
CONFIG_PACKAGE_luci-app-accesscontrol=y
CONFIG_PACKAGE_luci-app-adguardhome=y
CONFIG_PACKAGE_luci-app-argon-config=y
CONFIG_PACKAGE_luci-app-aliyundrive-webdav=y
CONFIG_PACKAGE_luci-app-aria2=y
CONFIG_PACKAGE_luci-app-diskman=y
CONFIG_PACKAGE_luci-app-dockerman=y
CONFIG_PACKAGE_luci-app-firewall=y
CONFIG_PACKAGE_luci-app-nlbwmon=y
CONFIG_PACKAGE_luci-app-passwall=y
CONFIG_PACKAGE_luci-app-pushbot=y
CONFIG_PACKAGE_luci-app-upnp=y
CONFIG_PACKAGE_luci-app-unishare=y
CONFIG_PACKAGE_luci-app-turboacc=y
CONFIG_PACKAGE_luci-app-ddns=m
CONFIG_PACKAGE_luci-app-autoreboot=m
CONFIG_PACKAGE_luci-app-filetransfer=m
CONFIG_PACKAGE_luci-app-vlmcsd=m
CONFIG_PACKAGE_luci-app-vsftpd=m
CONFIG_PACKAGE_luci-app-wol=m
# end of Applications

# Lang Support
CONFIG_LUCI_LANG_zh-cn=y
CONFIG_LUCI_LANG_zh-tw=y

# Themes
CONFIG_PACKAGE_luci-theme-argon=y

## Python
#CONFIG_PACKAGE_python-pip-conf=y
#CONFIG_PACKAGE_python3=y
